<?xml version="1.0"?>
<robot name="slider" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find planar_folding_assembly)/urdf/slider.urdf.xacro" />

  <gazebo>
    <plugin name="vertical_force_admittance_controller" filename="libsarafun_pfa_vertical_force_admittance_controller.so">
      <target_force>-40</target_force>
      <p_gain>0.1</p_gain>
      <i_gain>0.05</i_gain>
      <vert_correct_gain>0.1</vert_correct_gain>
    </plugin>
  </gazebo>

</robot>
