<?xml version="1.0"?>
<robot name="slider" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find planar_folding_assembly)/urdf/slider.urdf.xacro" />

  <gazebo>
    <plugin name="vertical_force_controller" filename="libsarafun_pfa_vertical_force_controller.so">
      <target_force>-40</target_force>
    </plugin>
  </gazebo>

</robot>
