<launch>

  <param name="planar_folding_assembly_description" command="$(find xacro)/xacro.py $(find planar_folding_assembly)/urdf/planar_folding_assembly.urdf.xacro" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param planar_folding_assembly_description -urdf -z 1 -model planar_folding_assembly" />

</launch>
