<launch>

  <arg name="controller" default="empty_controller" />

  <param name="planar_folding_assembly_slider" command="$(find xacro)/xacro.py $(find planar_folding_assembly)/urdf/controllers/$(arg controller).slider.urdf.xacro" />

  <node name="spawn_slider_urdf" pkg="gazebo_ros" type="spawn_model" args="-param planar_folding_assembly_slider -urdf -z 0.34 -model slider" />

</launch>
